<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" href = "favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <iframe src="https://ghbtns.com/github-btn.html?user=yiannis-had&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=yiannis-had&repo=YouTube2Spotify&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="johngate10@hotmail.com" />
        <input type="hidden" name="currency_code" value="EUR" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_CY/i/scr/pixel.gif" width="1" height="1" />
        </form>
              
      <div class="mt-3 mb-3 text-center">{% block header %}{% endblock %}</div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer" class="text-center">{% block footer %}{% endblock %}</div>
  </div>
  </body>
</html>