{% extends "base.html" %}
{% block title %}Youtube2Spotify{% endblock %}
{% block header %}

<h1> Youtube2Spotify </h1><br>
<h3>Click on Submit before logging in with Spotify</h2>

{% endblock %}
{% block footer %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
      <div class="form-group">
          {{ form.youtube_playlist.label(class="form-control-label") }}
          {% if form.youtube_playlist.errors %}
              {{ form.youtube_playlist(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.youtube_playlist.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.youtube_playlist(class="form-control form-control-lg", placeholder="https://www.youtube.com/playlist?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG") }}
          {% endif %}
      </div>
      <div class="form-group">
        {{ form.spotify_playlist_name.label(class="form-control-label") }}
        {% if form.spotify_playlist_name.errors %}
            {{ form.spotify_playlist_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.spotify_playlist_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.spotify_playlist_name(class="form-control form-control-lg", placeholder="New Playlist") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-success btn-xs") }}
      </div>
<a href="/login" class="btn btn-primary">Login with Spotify</a>
{% endblock %}