{% extends "base.html" %}
{% block title %}Spotify Login{% endblock %}
{% block header %}Spotify - Authorization{% endblock %}
{% block footer %}
<form>
    <label for="youtube_playlist">YouTube Playlist link</label><br>
    <input type="url" id="youtube_playlist" name="youtube_playlist" value="https://www.youtube.com/playlist?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG" size="150"><br>
    <label for="spotify_playlist">New Spotify Playlist name:</label><br>
    <input type="text" id="spotify_playlist" name="spotify_playlist" value="My New Playlist" size="150"><br><br>
  </form>
<input type="submit" value="Submit" class="btn btn-success btn-xs" class="text-truncate">
<a href="/login" class="btn btn-primary">Login with Spotify</a>
{% endblock %}